*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9eef4;
    
}

h1{
   text-align: center;
   margin: 10px;
   font-size: 2.5rem;
}
.container{
    margin: 40px;
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    background-color: #817c7c;
    
    height: 80vh;
}
#input{
    width: 75%;
    height: 8vh;
    border: 1px solid #ccc;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    outline: none;
}
#add{
    width: 20%;
    height: 8vh;
    padding: 0;
    background-color: #007bff;   
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    border: none;
}
#add:hover {
    background-color: #0056b3;
}

ul{
    list-style: none;
    padding: 0;
}
li{
    background-color: #d2cdcd;
    margin: 10px;
    padding: 8px;
    border-radius: 20px;
    
}

li button{
    border: none;
    margin-left: 5vh;
}